body{
  text-align: center;
  font-size:2.5em;
  font-family: 'catamaran';
  padding:20px;
  height:100vh;
  background-image: url('assets/img/veg_back.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat:no-repeat;
  background-color:rgb(65,65,65);
  color:rgb(218,218,218);
  text-shadow: 0px 0px 15px rgb(42,41,38);
}
input{
  height:2.5em;
  font-size:.5em;
}
button{
  height: 50px;
  width:100px;
  font-family: 'catamaran';
  font-size:20px;
  background-color: rgba(255, 255, 255, 0.5);

}
h2{
  font-family:'poiret one', sans-serif;
    color:rgb(255,255,255);
    text-decoration: none;
  }
  .top-nav{
    font-size:.75em;
    font-family: 'catamaran',sans-serif;
    font-weight: bolder;
    margin:20px !important;
  }
  a{
    padding:40px;
    text-decoration: none;
    color:rgb(218,218,218);
  }
  a:hover{
    color:rgb(255,255,255);
    text-decoration: none;
  }
