/* tamil */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: local('Catamaran'), local('Catamaran-Regular'), url(vendor/google/fonts/Catamaran/tamil-catamaran.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200B-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: local('Catamaran'), local('Catamaran-Regular'), url(vendor/google/fonts/Catamaran/latin-ext-catamaran.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: local('Catamaran'), local('Catamaran-Regular'), url(vendor/google/fonts/Catamaran/latin-catamaran.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(vendor/google/fonts/Poiret_One/cyrillic-poiret.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(vendor/google/fonts/Poiret_One/latin-ext-poiret.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(vendor/google/fonts/Poiret_One/latin-poiret.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body{
  text-align: center;
  font-family: catamaran;
  padding:20px;
  height:100vh;
  min-height: 100vh;
  background-image: url('assets/img/veg_back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  background-color:rgb(65,65,65);
}
h1{
  font-size:10em;
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;
  margin:20px 0 0 0;
  color:rgb(200,221,199);
  text-shadow: 0px 0px 15px rgb(42,41,38);
}
.top-nav{
  font-size:2em;
  font-family: 'catamaran',sans-serif;
  font-weight: bolder;
  margin:20px !important;
}
a{
  padding:40px;
  text-decoration: none;
  color:rgb(218,218,218);
}
a:hover{
  color:rgb(255,255,255);
  text-decoration: none;
}
.foot-wrapper{
font-size: 1.5em;
position:absolute;
bottom:20px;
/*text-align: center;*/
color:rgb(213,219,224);
}
@media (max-width: 1200px){
    h1{
      font-size: 7em;
    }

}
@media (max-width: 768px){
  h1{
    font-size:4em;
  }
  .top-nav{
    font-size: 1.5em;
  }
  .list-inline{
    width:300px;
    align-content: space-around;
  }
}


/*pop-up styling*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.2);
}

/* Modal Content/Box */
.modal-content-1 {
    background-color: rgb(180,180,180);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}
.modal-content-2 {
    background-color: rgb(180,180,180);
    margin: 13% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color:rgba(0,0,0,.9);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.iframe-container{
  position:relative;
  overflow:hidden;
}
.iframe-container iframe{
  position:relative;
}
