/*Tag properties*/
body{
  text-align: center;
  font-family: 'catamaran';
  background-color:rgb(65,65,65);
}
#sign{
  background-image: url("assets/img/veg_back.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
}
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}
#home{
  padding-top: 70px;
}
#info{
  padding-top: 70px;
}
#login{
  padding-top: 70px;
}
#pagewrapper, section {
  background-image: url("assets/img/veg_back.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
	height:100% !important;
	width:100% !important;
}
nav{
  z-index: 20;
  background-color: transparent;
  font-family: 'catamaran';
  font-size:1em;
}
li{
  font-size: 2.5em;
}
a{
  color:rgb(218,218,218);
}
/*styling for top nav items*/
.nav-pills > li > a{
  color:rgb(200,221,199);
  background-color: transparent;
}
.nav-pills > li > a:hover{
  color:rgb(250,250,250);
  background-color: transparent;
}
.nav-pills>li.active > a,
.nav-pills>li.active> a:hover{
  background-color: transparent;
  color:rgb(250,250,250);
  border-left: 4px solid rgba(250,250,250,0.7) ;
  border-right: 4px solid rgba(250,250,250,0.7) ;
  border-radius: 10px;
}
/*bottom FB icon/ restaurant login styling*/
.nav-pills.lower-right-nav,
.nav-pills.lower-right-nav>a:hover{
  font-size:0.7em;
  color:rgb(200,221,199);
}
/*--- end nav-based styling section*/

label{
  color:rgb(218,218,218);
  font-size: 2.0em;
}
h1{
  font-size:10em;
  font-family: 'Poiret One';
  font-weight: bold;
  color:rgb(200,221,199);
  text-shadow: 0px 0px 15px rgb(42,41,38);
}
h2{
  color:rgb(200,221,199);
  text-shadow: 0px 0px 15px rgb(42,41,38);
  font-family:'Poiret One';
  font-weight: bold;
  font-size:6em;
}
h3{
  color:rgb(218,218,218);
  text-shadow: 0px 0px 15px rgb(42,41,38);
  font-family:'catamaran';
  font-size:4em;
}

.lower-nav{
  padding-bottom: 40px;
}
.lower-right-nav{
  float: right!important;
}
.lower-left-nav{
  float: left!important;
}
.like-small{
  font-size: .6em;
}
.login-small{
  font-size: .8em;
}
.copyright{
  font-size:.6em;
  pointer-events: none;
}
.fb{
  height:40px;
  margin-right: 10px;
  border-radius: 6px;
}
.fb-small{
  height: 30px;
}

/*info-page*/
.info-wrapper{
  background-color:rgba(150,150,150,0.4);
  margin:50px auto;
  text-align: center;
  min-height:200px;
  }

.info-address a{
  font-size: 1.5em;
  text-decoration: underline;
}

.info-hours{
  font-style: italic;
  font-size: 2.5em;
  color:rgb(250,250,250);
  text-shadow: 0px 0px 5px rgb(42,41,38);

}

/*#info{
  background-position: right;
  background-size: fill;
}
#index{
  background-size: cover;
  background-position: center;
}
#sign{
  background-size: fill;
  background-position: top;
}*/

.login-form{
  max-width: 580px;
  padding-top: 70px;
}
.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

/*responsive CSS custom styling*/
@media (max-width: 991px){
    h1{
      font-size: 7em;
    }
}
@media (max-width: 767px){
  h2{
    font-size:3em;
  }
  h3{
    font-size: 2em;
  }
  .copyright{
    font-size: .5em;
  }
  .login-small{
    font-size: .7em;
  }
  .lower-nav{
    padding-bottom: 0;
  }
  #home{
    padding-top: 0;
  }
  #info{
    padding-top: 0;
  }
}
@media (max-width: 710px){
  h1{
    font-size:4em;
  }
}
@media (max-width: 365px){
  .login-small{
    font-size: .5em;
  }
  .info-hours{
    font-size: 2em;
  }
}
