
body{
  text-align: center;
  font-family: catamaran;
  padding:20px;
  height:100vh;
  background-image: url('assets/img/veg_back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  background-color:rgb(65,65,65);
}
h1{
  font-size:10em;
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;
  margin:20px 0 0 0;
  color:rgb(200,221,199);
  text-shadow: 0px 0px 15px rgb(42,41,38);
}
.top-nav{
  font-size:2em;
  font-family: 'catamaran',sans-serif;
  font-weight: bolder;
  margin:20px !important;
}
a{
  padding:40px;
  text-decoration: none;
  color:rgb(218,218,218);
}
a:hover{
  color:rgb(255,255,255);
  text-decoration: none;
}
.foot-wrapper{
font-size: 1.5em;
display:inline;
position: absolute;
bottom:60px;
left:20px;
color:rgb(200,221,199);
}
.fb{
  height:50px;
  position:absolute;
  bottom:15px;
  left:180px;
  border-radius: 6px;
}
@media (max-width: 1200px){
    h1{
      font-size: 7em;
    }

}
@media (max-width: 768px){
  h1{
    font-size:4em;
  }
  .top-nav{
    font-size: 1.5em;
    align-self: center;S
  }
  .list-inline{
    width:300px;
    align-content: space-around;
  }
}
@media(max-width: 370px){
  body{
    background-size: 100%;
  }
  h1{
    font-size: 3em;
  }
}

/*pop-up styling*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.2);
}

/* Modal Content/Box */
.modal-content-1 {
    background-color: rgb(180,180,180);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}
.modal-content-2 {
    background-color: rgb(180,180,180);
    margin: 13% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color:rgba(0,0,0,.9);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.iframe-container{
  position:relative;
  overflow:hidden;
}
.iframe-container iframe{
  position:relative;
}
