body{
  background-image: url("../img/veg_back.jpg");
  background-position: top;
  text-align: center;
  font-family: "catamaran", sans-serif;
  min-height:100vh;
  max-height: 100vh;
  overflow:hidden;
}
h1{
  color:rgb(200,221,199);
  text-shadow: 0px 0px 15px rgb(42,41,38);
  font-family:'Poiret One', sans-serif;
  font-weight: bold;
  font-size:6em;
}
.farm-wrapper{
background-color:rgba(135,135,135,.5);
margin:150px auto;
text-align: center;
}
ul{
  color:rgb(185,185,185);
}
li{
  font-style: italic;
  font-size: 2em;
}
.top-nav{
  font-size:2em;
  font-family: 'catamaran',sans-serif;
  font-weight: bolder;
  margin:20px !important;
}
a{
  padding:40px;
  text-decoration: none;
  color:rgb(218,218,218);
}
a:hover{
  color:rgb(255,255,255);
  text-decoration: none;
}
